<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
		<input name="orderId"  type="hidden"   th:field="${order.id}"   id="orderId"/>

    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var cancelFlag = [[${@permission.hasPermi('business:order:cancel')}]];
        var flagDatas = [[${@dict.getType('bus_order_flag')}]];

        var prefix = ctx + "business/orderDetail"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                cancelUrl: prefix + "/cancel",
                editVisibleUrl: prefix + "/editVisible",
                queryParams: queryParams,
                modalName: "订单详情",
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号'
				},
				{
					field : 'goodsName', 
					title : '商品名称' 
				},
				{
					field : 'goodsPrice', 
					title : '商品单价' 
				},
				{
					field : 'num', 
					title : '数量' 
				},
				{
					field : 'money', 
					title : '金额' 
				},
				{
					field : 'flag', 
					title : '订单状态',
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(flagDatas, value);
		            }
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if('0' == row.flag){
                       		actions.push('<a class="btn btn-danger btn-xs ' + cancelFlag + '" href="#" onclick="$.operate.editVisible(\'' + row.id + '\',\'cancel\',\'取消\')"><i class="fa fa-remove"></i>取消</a>');
		            	}
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function queryParams(params) {
			return {
				orderId:       $("#orderId").val()
			};
		}
    </script>
</body>
</html>