<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-modifyPwd-edit" th:object="${modifyPwd}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <input id="userid" name="id" th:field="*{userid}"  type="hidden">
            <input id="newPwd" name="id" th:field="*{newPwd}"  type="hidden">

            <div class="form-group">	
                <label class="col-sm-3 control-label">编号：</label>
                <div class="col-sm-8">
                    <input id="number" name="number" th:field="*{number}" readonly="readonly" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:field="*{name}" class="form-control" readonly="readonly" type="text">
                </div>
            </div>

            <div class="form-group">	
                <label class="col-sm-3 control-label">是否同意：</label>
                <div class="col-sm-8">
                    <select id="agreest" class="form-control m-b" th:with="type=${@dict.getType('bus_modify_pwd')}">
                        <option th:each="dict : ${type}" th:text="${dict['dictLabel']}" th:value="${dict['dictValue']}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">说明：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>

			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/modifyPwd"
		$("#form-modifyPwd-edit").validate({
			rules:{
				remark:{
					maxlength: 40,
				},
			}
		});

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/review", $('#form-modifyPwd-edit').serialize());
            }
        }

	</script>
</body>
</html>
