<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
    <div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								导入文件名:<input name="uploadName" type="text">
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="business:uploadRecord:import">
					<i class="fa fa-upload"></i> 导入
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:uploadRecord:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			
				
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:uploadRecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:uploadRecord:remove')}]];
        var prefix = ctx + "business/uploadRecord"

        $(function() {
            var options = {
                url: prefix + "/list",
				uniqueId:"id",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				importUrl: prefix + "/importData",
				importTemplateUrl: prefix + "/importTemplate",
                sortName: "createTime",
		        sortOrder: "desc",
                modalName: "批量充值导入",
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键' ,
					visible:false
				},
				{
					field: '',
					title: '序号',
					formatter: function (value, row, index) {
						return index + 1;
					}
				},
				{
					field : 'module', 
					title : '功能模块名称' 
				},
				{
					field : 'uploadName', 
					title : '上传文件名' 
				},
				{
					field : 'successCount', 
					title : '成功条数' 
				},
				{
					field : 'failName', 
					title : '失败文件名' ,
					visible:false
				},
				{
					field : 'failCount', 
					title : '失败条数' 
				},
				{
					field : 'status', 
					title : '状态' 
				},
				{
					field : 'remark', 
					title : '备注' 
				},
				{
					field : 'createTime', 
					title : '创建时间' 
				},
				{
					field : 'createBy', 
					title : '操作人'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs" href="#" onclick="downFail(\'' + row.failName + '\')"><i class="fa fa-edit"></i>下载失败文件</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
       	function importExcel(){
            var formdata = new FormData();
            formdata.append("importfile", $("#importfile")[0].files[0]);
            $.ajax({
                url: prefix + "/batchImport",
                data: formdata,
                type: "post",
                processData: false,
                contentType: false,
                success: function(result) {
                	$.table.refresh();
                }
            })
        }
       	
       	function downMoudle(){
       		window.location.href = ctx + "common/downloadTemplate?fileName=批量充值.xlsx";
       	}
       	
       	function downFail(fileName){
       		window.location.href = ctx + "common/download?fileName=" + fileName + "&delete=" + false;
       	}
    </script>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input hidden type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。">
			&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</html>