<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="col-sm-12 select-info">
				<form id="role-form">
					<div class="select-list gd">
						<ul>
							<li>
								对账日期：<input type="text" name="checkDate"/>
							</li>
							<li class="time">
								<label>对账时间： </label>
								<input type="text" class="layui-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="layui-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:checkbill:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:checkbill:remove')}]];
        var prefix = ctx + "business/checkbill"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "银行总账对账",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键' 
				},
				{
					field : 'checkDate', 
					title : '对账日期' 
				},
				{
					field : 'rechargeNum', 
					title : '充值总笔数' 
				},
				{
					field : 'rechargeSum', 
					title : '充值总金额' 
				},
				{
					field : 'correctionNum', 
					title : '冲正总笔数' 
				},
				{
					field : 'correctionSum', 
					title : '冲正总金额' 
				},
				{
					field : 'closeNum', 
					title : '销户总笔数' 
				},
				{
					field : 'closeSum', 
					title : '销户总金额' 
				},
				{
					field : 'rechargeCardSum', 
					title : '所有正确圈存的卡号总和' 
				},
				{
					field : 'correctionCardSum', 
					title : '所有冲正的卡号总和' 
				},
				{
					field : 'closeCardSum', 
					title : '所有销户的卡号总和' 
				},
				{
					field : 'returnCode', 
					title : '返回码' 
				},
				{
					field : 'returnMessage', 
					title : '返回信息' 
				},
				{
					field : 'status', 
					title : '状态' 
				},
				{
					field : 'createTime', 
					title : '创建时间戳' 
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>