<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-checkbill-edit" th:object="${checkbill}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">系统交易码：</label>
                <div class="col-sm-8">
                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">银行交易码：</label>
                <div class="col-sm-8">
                    <input id="bankCode" name="bankCode" th:field="*{bankCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">对账日期：</label>
                <div class="col-sm-8">
                    <input id="checkDate" name="checkDate" th:field="*{checkDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">充值总笔数：</label>
                <div class="col-sm-8">
                    <input id="rechargeNum" name="rechargeNum" th:field="*{rechargeNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">充值总金额：</label>
                <div class="col-sm-8">
                    <input id="rechargeSum" name="rechargeSum" th:field="*{rechargeSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">冲正总笔数：</label>
                <div class="col-sm-8">
                    <input id="correctionNum" name="correctionNum" th:field="*{correctionNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">冲正总金额：</label>
                <div class="col-sm-8">
                    <input id="correctionSum" name="correctionSum" th:field="*{correctionSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">销户总笔数：</label>
                <div class="col-sm-8">
                    <input id="closeNum" name="closeNum" th:field="*{closeNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">销户总金额：</label>
                <div class="col-sm-8">
                    <input id="closeSum" name="closeSum" th:field="*{closeSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">商户总笔数：</label>
                <div class="col-sm-8">
                    <input id="merchantNum" name="merchantNum" th:field="*{merchantNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">商户总金额：</label>
                <div class="col-sm-8">
                    <input id="merchantSum" name="merchantSum" th:field="*{merchantSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">所有正确圈存的卡号总和：</label>
                <div class="col-sm-8">
                    <input id="rechargeCardSum" name="rechargeCardSum" th:field="*{rechargeCardSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">所有冲正的卡号总和：</label>
                <div class="col-sm-8">
                    <input id="correctionCardSum" name="correctionCardSum" th:field="*{correctionCardSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">所有销户的卡号总和：</label>
                <div class="col-sm-8">
                    <input id="closeCardSum" name="closeCardSum" th:field="*{closeCardSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">所有结算的卡号总和：</label>
                <div class="col-sm-8">
                    <input id="merchantCardSum" name="merchantCardSum" th:field="*{merchantCardSum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">返回码：</label>
                <div class="col-sm-8">
                    <input id="returnCode" name="returnCode" th:field="*{returnCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">返回信息：</label>
                <div class="col-sm-8">
                    <input id="returnMessage" name="returnMessage" th:field="*{returnMessage}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <input id="status" name="status" th:field="*{status}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">创建时间戳：</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "business/checkbill"
		$("#form-checkbill-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-checkbill-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
