<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-edit" th:object="${device}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">编号：</label>
                <div class="col-sm-8">
                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select id="type" class="form-control m-b" th:with="type=${@dict.getType('bus_device_type')}">
                        <option th:each="dict : ${type}" th:text="${dict['dictLabel']}" th:value="${dict['dictValue']}" th:field="*{type}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">IP地址：</label>
                <div class="col-sm-8">
                    <input id="ip" name="ip" th:field="*{ip}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">位置：</label>
                <div class="col-sm-8">
                    <input id="address" name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">说明：</label>
                <div class="col-sm-8">
                    <input id="des" name="des" th:field="*{des}" class="form-control" type="text">
                </div>
            </div>

            <input id="status" name="status" th:field="*{status}" type="hidden">

			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/device"
		$("#form-device-edit").validate({
			rules:{
				name:{
					required:true,
				},
				ip:{
				    required:true,
				    isIP:true
				}
			},
			submitHandler: function(form) {
				edit();
			}
		});


		function edit() {
		    var id = $("input[name='id']").val();
        	var code = $("input[name='code']").val();
        	var name = $("input[name='name']").val();
        	var type = $("#type option:selected").val();
        	var ip = $("input[name='ip']").val();
        	var address = $("input[name='address']").val();
        	var des = $("input[name='des']").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "system/device/edit",
        		data : {
        		    "id": id,
        			"code": code,
        			"name": name,
        			"type": type,
        			"ip": ip,
        			"address": address,
        			"des": des
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
	</script>
</body>
</html>
