<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>购物</title>
	<link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="/static/css/goodslist.css" th:href="@{/css/goodslist.css}" rel="stylesheet"/>
	<link href="/static/css/shoppingcart.css" th:href="@{/css/shoppingcart.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="nav-attrs-group fix" id="filterUlId">
	<h3>商品筛选</h3>
	<div class="nav-attrs-crumble category-div fix">
	</div>
	<div class="nav-attrs-operation">
		<a class="link allRepeal" href="javascript:void(0);" style="display:none;" id="clearAllCondition">全部撤销<i class="del-icon"></i></a>
		<div class="history-view-pop" style="display:none;">
		</div>
	</div>
</div>
<!-- GoodsCategory List DL  s-->
<dl class="list-attrs-item fix">
	<dt>商品分类：</dt>
	<dd class="fix category-dd-event">
	</dd>
</dl>
<!-- GoodsCategory List DL  e-->

<!-- Goods List DIV s-->
<div id="goodsTableDiv" class="row border-bottom goodsDiv"></div>
<!-- Goods List DIV e-->

<!-- ShoppingCartDIV s-->
<form id="cartForm" class="toolbar_btn center">
	<!-- shoppingcart button bar -->
	<a id="cartbar" class="cartbar">
		<samp>
			<i class="iconi icon-LiveChat1">
				<img style="background-color:#040404;" src="/img/cartLogo.png" >
			</i>
		</samp>
		<span id="lmliCount" class="lmliCount">0</span>
	</a>
	<div id="shop_cart" class="cartContent cart_column">
		<h4 style="text-align:center;">购物车<a href="javascript:closeCart();" class="icon-close">X</a></h4>
		<ul id="cartUl" class="cartUl" >
		</ul>
		<div class="count_info clearfix">
			<label>
				<input id="checkAll" type="checkbox" checked="checked" class="select_all">
				<span class="text">全选</span>
			</label>
			<p>
				共计： <span id="totalNum" class="price">0</span>个商品
			</p>
			<p>
				合计金额： <span class="price">￥</span>
				<span id="totalPrice" class="price">0.00</span>
			</p>
		</div>
		<div class="shop_function_btn clearfix">
			<a id="btn_settle" href="javascript:settle();" class="more redbtn-moddle1">
				<span>结算</span>
			</a>
		</div>
	</div>
</form>
<!-- ShoppingCartDIV e-->
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/shoppingCart.js}"></script>
<script th:src="@{/js/goodsList.js}"></script>
</body>
</html>
