<ul id="goodsTable" class="clearFloat" >
	<li th:each="goods : ${goodsPage.rows}" class="liStyle">
		<div class="d"><img class="goods-image-event" th:data-id="${goods.id}" th:src="(${goods.image == null || goods.image == ''}) ? @{/img/goods.jpg} : @{/profile/goods/} + ${goods.image}" /></div>
		<h4 th:text="${goods.name}"></h4>
		<div class="clearFloat">
			<span class="price fl" th:text="'¥'+${goods.price}"></span>
		</div>
		<a class="addCart" th:data-id="${goods.id}" th:data-name="${goods.name}" th:data-price="${goods.price}"
		   th:data-image="${goods.image}" th:onclick="@{javascript:addShoppingCart(this);}">加入购物车</a>
	</li>
</ul>
