<div class="global_toolbar">
	<div class="toolbar_btn center" style="top: 50%; margin-top: -150px;">
		<a id="needtohelp_0_shoppingCart" class="bar_cart " data-id="global_toolbar">
			<samp>
				<i class="iconi icon-LiveChat1">
					<img src="img/icon/car-1.png" alt="">
				</i>
			</samp>
			<em>
				<i>购物车</i>
			</em>
			<span id="lmliCount" style="display: block;">5</span>
		</a>
	</div>
	<div class="toolbar_content">
		<div class="css_column cart_column js_column" id="shop_cart">
			<h4>
				购物车<a href="javascript:void(0)" class="icon-close " >X</a>
			</h4>
			<div id="resultData">
				<ul style="height: auto;">
					<li class="clearfix" data-url="7002728">
						<input type="checkbox" class="checkbox_c " name="checkbox_c_Name" data-url="" checked="checked">
						<span class="check"></span>
						<div class="img_con">
							<img src="img/pd/pd1.jpg" alt="">
						</div>
						<div class="product_name">
							<span title="CE12808">CE12808</span>
							<a href="javascript:void(0)" class="del_pro_btn" onClick="">删除</a>
						</div>
						<div class="amount_btn clearfix">
							<input type="text" value="1" class="spinnerExample" onBlur="isDigit(this)">
						</div>
					</li>
					<li class="clearfix" data-url="7002720">
						<input type="checkbox" class="checkbox_c" name="checkbox_c_Name" data-url="7002720|" checked="checked">
						<span class="check"></span>
						<div class="img_con">
							<img src="img/pd/pd2.jpg" alt="">
						</div>
						<div class="product_name">
							<span title="CE12804">CE12804</span>
							<a href="javascript:void(0)" class="del_pro_btn" onClick="">删除</a>
						</div>
						<div class="amount_btn clearfix">
							<input type="text" value="9" class="spinnerExample" onBlur="isDigit(this)">
						</div>
					</li>
					<li class="clearfix" data-url="7097193">
						<input type="checkbox" class="checkbox_c" name="checkbox_c_Name" data-url="7097193|" checked="checked">
						<span class="check"></span>
						<div class="img_con">
							<img src="img/pd/pd2.jpg" alt="">
						</div>
						<div class="product_name">
							<span title="AR1220EV">AR1220EV</span>
							<a href="javascript:void(0)" class="del_pro_btn" onClick="">删除</a>
						</div>
						<div class="amount_btn clearfix">
							<input type="text" value="1" class="spinnerExample" onBlur="isDigit(this)">
						</div>
					</li>
					<li class="clearfix" data-url="7115213">
						<input type="checkbox" class="checkbox_c" name="checkbox_c_Name" data-url="7115213|" checked="checked">
						<span class="check"></span>
						<div class="img_con">
							<img src="img/pd/pd1.jpg" alt="">
						</div>
						<div class="product_name">
							<span title="S5700-28P-PWR-LI-AC">S5700-28...</span>
							<a href="javascript:void(0)" class="del_pro_btn" onClick="">删除</a>
						</div>
						<div class="amount_btn clearfix">
							<input type="text" value="1" class="spinnerExample" onBlur="isDigit(this)">
						</div>
					</li>
				</ul>
			</div>
			<div class="count_info clearfix">
				<label>
					<input type="checkbox" class="select_all" checked="checkbox">
					<span class="check"></span>
					<span class="text">全选</span>
				</label>
				<p>
					共计： <span>12</span>
					个产品
				</p>
			</div>
			<div class="more shop-more clearfix">
				<a href="#" target="">购买更多产品</a>
			</div>
			<div class="shop_function_btn clearfix">
				<a href="#" class="more redbtn-moddle1" id="btn_popup_login">
					<span>登录</span>
				</a>
				<a href="#" class="go_btn more redbtn-moddle1">
					<span>寻求报价</span>
				</a>
			</div>
		</div>
	</div>
</div>