<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
																																		                                    <li>
										流水号：<input type="text" name="journo"/>
                                    </li>

																																				                                    <li>
										用户编号：<input type="text" name="userNumber"/>
                                    </li>

																																				                                    <li>
										商户编号：<input type="text" name="merchantCode"/>
                                    </li>

																																				                                    <li>
										订单号：<input type="text" name="orderCode"/>
                                    </li>

																																				                                    <li>
										交易代码：<input type="text" name="txcode"/>
                                    </li>

																																				                                    <li>
										消费前余额：<input type="text" name="before"/>
                                    </li>

																																				                                    <li>
										消费后余额：<input type="text" name="after"/>
                                    </li>

																																				                                    <li>
										交易金额：<input type="text" name="txamt"/>
                                    </li>

																																				                                    <li>
										来源账户：<input type="text" name="fromAcc"/>
                                    </li>

																																				                                    <li>
										目标账户：<input type="text" name="toAcc"/>
                                    </li>

																																				                                    <li>
										系统入账日期：<input type="text" name="settleDate"/>
                                    </li>

																																				                                    <li>
										设备编号：<input type="text" name="stationCode"/>
                                    </li>

																																				                                    <li>
										备注：<input type="text" name="remark"/>
                                    </li>

																																				                                    <li>
										状态：<input type="text" name="status"/>
                                    </li>

																																				                                    <li>
										创建人：<input type="text" name="createBy"/>
                                    </li>

																																				                                    <li>
										创建时间：<input type="text" name="createTime"/>
                                    </li>

																																				                                    <li>
										修改人：<input type="text" name="updateBy"/>
                                    </li>

																																				                                    <li>
										修改时间：<input type="text" name="updateTime"/>
                                    </li>

																					                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:tradeRecord:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:tradeRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:tradeRecord:remove')}]];
    var prefix = ctx + "business/tradeRecord";
                                                                                                                                                                                                                                                                                                                                                                                                    
    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "流水",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: '主键',
                visible: false
            },
            {
                field: '',
                title: '序号',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },
            {
                field: 'journo',
                title: '流水号',
                sortable: true
            },
            {
                field: 'userNumber',
                title: '用户编号',
                sortable: true
            },
            {
                field: 'merchantCode',
                title: '商户编号',
                sortable: true
            },
            {
                field: 'orderCode',
                title: '订单号',
                sortable: true
            },
            {
                field: 'txcode',
                title: '交易代码',
                sortable: true
            },
            {
                field: 'before',
                title: '消费前余额',
                sortable: true
            },
            {
                field: 'after',
                title: '消费后余额',
                sortable: true
            },
            {
                field: 'txamt',
                title: '交易金额',
                sortable: true
            },
            {
                field: 'fromAcc',
                title: '来源账户',
                sortable: true
            },
            {
                field: 'toAcc',
                title: '目标账户',
                sortable: true
            },
            {
                field: 'settleDate',
                title: '系统入账日期',
                sortable: true
            },
            {
                field: 'stationCode',
                title: '设备编号',
                sortable: true
            },
            {
                field: 'remark',
                title: '备注',
                sortable: true
            },
            {
                field: 'status',
                title: '状态',
                sortable: true
            },
            {
                field: 'createBy',
                title: '创建人',
                sortable: true
            },
            {
                field: 'createTime',
                title: '创建时间',
                sortable: true
            }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>