<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.project.system.modifyPwd.mapper.ModifyPwdMapper">
    
    <resultMap type="ModifyPwd" id="ModifyPwdResult">
        <result property="id"    column="id"    />
        <result property="userid"    column="userid"    />
        <result property="number"    column="number"    />
        <result property="name"    column="name"    />
        <result property="newPwd"    column="new_pwd"    />
        <result property="agreest"    column="agreest"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectModifyPwdVo">
        select id, userid, number, name, new_pwd, agreest ,remark,status, create_time, update_time from bus_modify_pwd
    </sql>
	
    <select id="selectModifyPwdList" parameterType="ModifyPwd" resultMap="ModifyPwdResult">
        <include refid="selectModifyPwdVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="userid != null and userid != ''"> and userid = #{userid}</if>
             <if test="number != null and number != ''"> and number = #{number}</if>
             <if test="searchValue != null and searchValue != ''"> and number like  concat('%', #{searchValue}, '%') </if>
             <if test="name != null and name != ''"> and name = #{name}</if>
             <if test="newPwd != null and newPwd != ''"> and new_pwd = #{newPwd}</if>
             <if test="agreest != null and agreest != ''"> and agreest = #{agreest}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectModifyPwdById" parameterType="Long" resultMap="ModifyPwdResult">
        <include refid="selectModifyPwdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertModifyPwd" parameterType="ModifyPwd">
        insert into bus_modify_pwd
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="userid != null and userid != '' ">userid,</if>
			<if test="number != null and number != '' ">number,</if>
			<if test="name != null and name != '' ">name,</if>
			<if test="newPwd != null and newPwd != '' ">new_pwd,</if>
			<if test="agreest != null and agreest != '' ">agreest,</if>
			<if test="status != null and status != '' ">agreest,</if>
			<if test="remark != null and remark != '' ">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="userid != null and userid != ''">#{userid},</if>
			<if test="number != null and number != ''">#{number},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="newPwd != null and newPwd != ''">#{newPwd},</if>
			<if test="agreest != null and agreest != ''">#{agreest},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateModifyPwd" parameterType="ModifyPwd">
        update bus_modify_pwd
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null  ">userid = #{userid},</if>
            <if test="number != null  and number != ''  ">number = #{number},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="newPwd != null  and newPwd != ''  ">new_pwd = #{newPwd},</if>
            <if test="agreest != null  and agreest != ''  ">agreest = #{agreest},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="remark != null  and remark != ''  ">status = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteModifyPwdById" parameterType="Long">
        delete from bus_modify_pwd where id = #{id}
    </delete>
	
    <delete id="deleteModifyPwdByIds" parameterType="String">
        delete from bus_modify_pwd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>