<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goods-edit" th:object="${goods}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <input name="categoryId"  type="hidden" th:field="*{categoryId}" id="treeId"/>

            <div class="form-group">
                <label class="col-sm-3 control-label">编码：</label>
                <div class="col-sm-8">
                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <input id="price" name="price" th:field="*{price}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">分类名称：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text"   name="categoryName"   th:field="*{categoryName}"   onclick="selectGoodCategoryTree()" readonly="true" id="treeName" >
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">商户：</label>
                <div class="col-sm-8">
                    <select id="merchantId" name="merchantId" class="form-control m-b"  >
                        <option th:each="merchant:${merchants}" th:value="${merchant.id}" th:text="${merchant.merchantName}" th:selected="(${merchant.id} == *{merchantId})" ></option>
                    </select>

                </div>
            </div>


            <div class="form-group">	
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input id="orderNum" name="orderNum" th:field="*{orderNum}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8" th:with="type=${@dict.getType('bus_show_hide')}">
                    <div th:each="dict : ${type}" th:class="${dict['cssClass']}">
                        <input type="radio" th:id="${dict['dictCode']}" name="visible" th:value="${dict['dictValue']}" th:field="*{visible}">
                        <label th:for="${dict['dictCode']}" th:text="${dict['dictLabel']}"></label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <img alt="image" class="m-t-xs img-responsive" th:src="(*{image} == '') ? @{/img/goods.jpg} : @{/profile/goods/} + *{image}">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "business/goods"


		$(document).ready(function() {
            //var sex = $("#categoryName option:selected").val();
        });


		$("#form-goods-edit").validate({
			rules:{
				name:{
					required:true,
				},merchantId:{
					required:true,
				},categoryName:{
					required:true,
				},orderNum:{
        			required:true,
        			digits:true
        		},price:{
        			required:true,
        			number:true
        		}
			}
		});

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-goods-edit').serialize());
            }
        }

		/*分类管理-新增-选择分类树*/
        function selectGoodCategoryTree() {
            var goodCategoryId = $("#treeId").val();
            var url = ctx + "business/goodCategory/selectGoodCategoryTree/" + goodCategoryId;
            var options = {
                title: '选择分类',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
	</script>
</body>
</html>
