<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/jquery-layout/jquery.layout-latest.css" th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
<div class="ui-layout-west">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 商品分类
				</div>
				<div class="box-tools pull-right">
					<a type="button" class="btn btn-box-tool menuItem" href="#" onclick="category()" title="商品分类"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新分类"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
</div>

<div class="container-div ui-layout-center">
	<div class="row">
		<div class="col-sm-12  search-collapse">
			<form id="goods-form">
				<input type="hidden" id="categoryId" name="categoryId">
				<input type="hidden" id="parentId" name="parentId">
				<div class="select-list gd">
					<ul>
						<li>
							商品名称：<input type="text" name="name"/>
						</li>
						<li>
							分类状态：
							<select name="visible" th:with="type=${@dict.getType('bus_show_hide')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict['dictLabel']}" th:value="${dict['dictValue']}"></option>
							</select>
						</li>

						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:goods:add">
				<i class="fa fa-plus"></i> 添加
			</a>
			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="business:goods:edit">
				<i class="fa fa-edit"></i> 修改
			</a>
			<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:goods:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
			<a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="business:goods:import">
				<i class="fa fa-upload"></i> 导入
			</a>
			<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:goods:export">
				<i class="fa fa-download"></i> 导出
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('business:goods:edit')}]];
		var removeFlag = [[${@permission.hasPermi('business:goods:remove')}]];
		var datas = [[${@dict.getType('bus_show_hide')}]];
		var prefix = ctx + "business/goods"

		$(document).ready(function(){
			$('body').layout({ west__size: 185 });
			queryUserList();
			queryDeptTreeDaTa();
		});

		function queryUserList() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				importUrl: prefix + "/importData",
				importTemplateUrl: prefix + "/importTemplate",
                editVisibleUrl: prefix + "/editVisible",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "商品",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id',
					title : '主键'
				},
				{
					field : 'code',
					title : '编码'
				},
				{
					field : 'name',
					title : '名称'
				},
				{
					field : 'price',
					title : '价格'
				},
				{
					field : 'orderNum',
					title : '显示顺序'
				},
				{
					field : 'visible',
					title : '消费端显示',
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }

				},
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        if ("0" == row.visible) {
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="$.operate.editVisible(\'' + row.id + '\',\'up\',\'上架\')"><i class="fa fa-edit"></i>上架</a> ');
                        } else {
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="$.operate.editVisible(\'' + row.id + '\',\'down\',\'下架\')"><i class="fa fa-edit"></i>下架</a> ');
                        }
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
		                actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="#" onclick="uploadImage(\'' + row.id + '\')"><i class="fa fa-key"></i>上传图片</a>');

		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		}

		function queryDeptTreeDaTa()
		{
			// 树结构初始化加载
			var setting = {view:{selectedMulti:false},data:{key:{title:"title"},simpleData:{enable:true}},
				callback:{onClick:function(event, treeId, treeNode){
					tree.expandNode(treeNode);
					$("#categoryId").val(treeNode.id);
					$("#parentId").val(treeNode.pId);
					$.table.search($('form').attr('id'));
				}}
			}, tree, loadTree = function(){
				$.get(ctx + "business/goodCategory/goodCategoryTreeData", function(data) {
				    tree = $.fn.zTree.init($("#tree"), setting, data); //.expandAll(true);
				    // 展开第一级节点
				    var nodes = tree.getNodesByParam("level", 0);
				    for (var i = 0; i < nodes.length; i++) {
				        tree.expandNode(nodes[i], true, false, false);
				    }
				    // 展开第二级节点
				    nodes = tree.getNodesByParam("level", 1);
				    for (var i = 0; i < nodes.length; i++) {
				        tree.expandNode(nodes[i], true, false, false);
				    }
				}, null, null, "正在加载，请稍后...");
			};loadTree();

			$('#btnExpand').click(function() {
				tree.expandAll(true);
			    $(this).hide();
			    $('#btnCollapse').show();
			});
			$('#btnCollapse').click(function() {
				tree.expandAll(false);
			    $(this).hide();
			    $('#btnExpand').show();
			});
			$('#btnRefresh').click(function() {
			    loadTree();
			});
		}

		function category() {
			var url = ctx + "business/goodCategory";
			createMenuItem(url, "分类管理");
		}


		function uploadImage(id) {
		    var url = prefix + '/avatar/' + id;
		    $.modal.open("上传图片", url);
		}
	</script>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</html>