<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div ui-layout-center">
	<div class="row">
		<div class="col-sm-12 select-info">
			<form id="user-form">
				<input type="hidden" id="deptId" name="deptId">
				<input type="hidden" id="parentId" name="parentId">
				<div class="select-list">
					<ul>
						<li>
							订单编号：<input type="text" name="orderCode"/>
						</li>
						<li>
							人员编号：<input type="text" name="personCode"/>
						</li>

						<li>
							订单状态：<select name="flag" th:with="type=${@dict.getType('bus_order_flag')}">
							<option value="">所有</option>
							<option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
						</select>
						</li>
						<li class="time">
							<label>创建时间： </label>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
							<span>-</span>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.batFinish()" shiro:hasPermission="business:order:finish">
				<i class="fa fa-plus"></i> 完成
			</a>
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.batCancel()" shiro:hasPermission="business:order:remove">
				<i class="fa fa-plus"></i> 取消
			</a>

		</div>

		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>

    <div th:include="include :: footer"></div>
	<script th:src="@{/information/js/information-ui.js?v=2.3.2}"></script>
    <script th:inline="javascript">
        var listFlag = [[${@permission.hasPermi('business:order:list')}]];
        var finishFlag = [[${@permission.hasPermi('business:order:finish')}]];
        var cancelFlag = [[${@permission.hasPermi('business:order:cancel')}]];
        var detailFlag = [[${@permission.hasPermi('business:orderDetail:list')}]];
        var flagDatas = [[${@dict.getType('bus_order_flag')}]];
        var prefix = ctx + "business/order"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                finishUrl: prefix + "/finish",
                cancelUrl: prefix + "/cancel",
                modalName: "订单",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键' 
				},
				{
					field : 'orderCode',
					title : '订单号' 
				},
				{
					field : 'money', 
					title : '订单总金额' 
				},
				{
					field : 'personCode', 
					title : '购买人编号'
				},
				{
					field : 'personName', 
					title : '购买人姓名' 
				},
				{
					field : 'flag', 
					title : '订单状态',
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(flagDatas, value);
		            }
				},
				{
					field : 'createTime',
					title : '创建时间'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-info btn-xs ' + detailFlag + '" href="#" onclick="detail(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>详情</a> ');
		            	if('0' == row.flag){
		            		actions.push('<a class="btn btn-danger btn-xs ' + finishFlag + '" href="#" onclick="$.operate.finish(\'' + row.id + '\')"><i class="fa fa-edit"></i>完成</a>');
                       		actions.push('<a class="btn btn-danger btn-xs ' + cancelFlag + '" href="#" onclick="$.operate.cancel(\'' + row.id + '\')"><i class="fa fa-remove"></i>取消</a>');

		            	}

						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        /*字典列表-详细*/
		function detail(id) {
		    var url = ctx + 'business/orderDetail/detail/' + id;
		    createMenuItem(url, "订单详情");
		}

    </script>
</body>
</html>