<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">农行金管家。
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>“金管家”管理系统</h2>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">专业定制</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://www.baidu.com" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问我们
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://www.baidu.com" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<a href="https://jq.qq.com/?_wv=1027&k=5HBAaYN" target="_blank">517415323</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ 刘宁</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
								<div class="panel-heading">
									   <h5 class="panel-title">
										   <a data-toggle="collapse" data-parent="#version" href="#v10">v1.0.0</a><code class="pull-right">2018-3-12</code>
									   </h5>
									</div>
									<div id="v10" class="panel-collapse collapse in">
										<div class="panel-body">
										   <ol>
                                               <li>部门修改时不允许选择最后节点</li>
                                               <li>修复部门菜单排序字段无效</li>
                                               <li>修复光驱磁盘导致服务监控异常</li>
                                               <li>登录界面去除check插件</li>
                                               <li>验证码文本字符间距修正</li>
                                               <li>升级SpringBoot到最新版本2.1.1</li>
                                               <li>升级MYSQL驱动</li>
                                               <li>修正登录必填项位置偏移</li>
                                               <li>Session会话检查优化</li>
                                               <li>Excel注解支持多级获取</li>
                                               <li>新增序列号生成方法</li>
                                               <li>修复WAR部署tomcat退出线程异常</li>
                                               <li>全屏操作增加默认确认/关闭</li>
                                               <li>修复个人信息可能导致漏洞</li>
                                               <li>字典数据根据下拉选择新增类型</li>
                                               <li>升级Summernote到最新版本v0.8.11</li>
                                               <li>新增用户数据导入</li>
                                               <li>首页主题样式更换</li>
                                               <li>layer扩展主题更换</li>
                                               <li>用户管理移动端默认隐藏左侧布局</li>
                                               <li>详细信息弹出层显示在顶层</li>
                                               <li>表格支持切换状态（用户/角色/定时任务）</li>
                                               <li>Druid数据源支持配置继承</li>
                                               <li>修正部分iPhone手机端表格适配问题</li>
                                               <li>新增防止重复提交表单方法</li>
                                               <li>新增表格数据统计汇总方法</li>
                                               <li>支持富文本上传图片文件</li>
											</ol>
										</div>
									</div>
								</div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v00">v0.0.1</a><code class="pull-right">2018-7-25</code>
                                        </h4>
                                    </div>
                                    <div id="v00" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>金管家系统基础功能。</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系作者</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	联系方式。
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/weixin.jpg}" width="100%" alt="请使用手机微信扫码添加好友">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
