<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<!--<div class="btn-group-sm hidden-xs" id="toolbar" role="group">-->
			<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:closedPerson:add">-->
				<!--<i class="fa fa-plus"></i> 添加-->
			<!--</a>-->
			<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="business:closedPerson:edit">-->
	            <!--<i class="fa fa-edit"></i> 修改-->
	        <!--</a>-->
			<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:closedPerson:remove">-->
				<!--<i class="fa fa-remove"></i> 删除-->
			<!--</a>-->
		<!--</div>-->
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:closedPerson:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:closedPerson:remove')}]];
        var prefix = ctx + "business/closedPerson";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "销户人员管理",
                columns: [
				{
					field : 'id', 
					title : '序号'
				},
				{
					field : 'number', 
					title : '编号' 
				},
				{
					field : 'name', 
					title : '姓名' 
				},
				{
					field : 'sex', 
					title : '性别' 
				},
				{
					field : 'age', 
					title : '年龄' 
				},
				{
					field : 'nation', 
					title : '民族' 
				},
				{
					field : 'idcard', 
					title : '身份证号' 
				},
				{
					field : 'mobile', 
					title : '手机号' 
				},
				{
					field : 'deptId', 
					title : '部门' 
				},
				{
					field : 'identityId', 
					title : '身份' 
				},
				{
					field : 'flag', 
					title : '账户状态' 
				},
				{
					field : 'updateBy', 
					title : '修改人' 
				},
				{
					field : 'updateTime', 
					title : '修改时间' 
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>