<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12  search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								角色编号：<input type="text" id="number" name="number" />
							</li>
<!-- 							<li> -->
<!-- 								银行余额：<input type="text" name="roleKey"/> -->
<!-- 							</li> -->
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" href="javascript:query(1)"><i class="fa fa-search"></i>&nbsp;现金充值查询</a>
								<a class="btn btn-primary btn-rounded btn-sm" href="javascript:query(2)"><i class="fa fa-search"></i>&nbsp;银行余额查询</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		function query(type){
            if ($.common.isEmpty($("#number").val())) {
                alert("请输入编号");
                return;
            }
            $.ajax({
                type : 'get',
                url: ctx + "business/singleRecharge/query/" + $("#number").val(),
                success : function(result) {
                    if (result.code == web_status.SUCCESS) {
                        if (type == 1) {
                            cash();
                        } else {
                            bankRecharge();
                        }

                    } else {
                        $.modal.msgError(result.msg);
                    }
                }
            });
        }

		/*现金充值*/
		function cash() {
			var url = ctx + "business/singleRecharge/cash/" + $("#number").val();
			$.modal.open("现金充值", url);
		}
		/*银行充值*/
		function bankRecharge() {
			var url = ctx + "business/singleRecharge/bankRecharge/" + $("#number").val();
			$.modal.open("银行充值", url);
		}
	</script>
</body>
</html>