<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.project.business.account.mapper.AccountMapper">
    
    <resultMap type="Account" id="AccountResult">
        <result property="id"    column="id"    />
        <result property="accountCode"    column="account_code"    />
        <result property="accountName"    column="account_name"    />
        <result property="balance"    column="balance"    />
        <result property="flag"    column="flag"    />
        <result property="status"    column="status"    />
    </resultMap>
	
	<sql id="selectAccountVo">
        select id, account_code, account_name, balance, flag, status from bus_account
    </sql>
	
    <select id="selectAccountList" parameterType="Account" resultMap="AccountResult">
        <include refid="selectAccountVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="accountCode != null and accountCode != ''"> and account_code = #{accountCode}</if>
             <if test="accountName != null and accountName != ''"> and account_name = #{accountName}</if>
             <if test="balance != null and balance != ''"> and balance = #{balance}</if>
             <if test="flag != null and flag != ''"> and flag = #{flag}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
         </where>
    </select>
    
    <select id="selectAccountById" parameterType="Long" resultMap="AccountResult">
        <include refid="selectAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAccount" parameterType="Account">
        insert into bus_account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="accountCode != null and accountCode != '' ">account_code,</if>
			<if test="accountName != null and accountName != '' ">account_name,</if>
			<if test="balance != null and balance != '' ">balance,</if>
			<if test="flag != null and flag != '' ">flag,</if>
			<if test="status != null and status != '' ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="accountCode != null and accountCode != ''">#{accountCode},</if>
			<if test="accountName != null and accountName != ''">#{accountName},</if>
			<if test="balance != null and balance != ''">#{balance},</if>
			<if test="flag != null and flag != ''">#{flag},</if>
			<if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>
	 
    <update id="updateAccount" parameterType="Account">
        update bus_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountCode != null  and accountCode != ''  ">account_code = #{accountCode},</if>
            <if test="accountName != null  and accountName != ''  ">account_name = #{accountName},</if>
            <if test="balance != null  ">balance = #{balance},</if>
            <if test="flag != null  and flag != ''  ">flag = #{flag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteAccountById" parameterType="Long">
        delete from bus_account where id = #{id}
    </delete>
	
    <delete id="deleteAccountByIds" parameterType="String">
        delete from bus_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>