<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.merchantReport.mapper.MerchantReportMapper">

    <resultMap type="MerchantReport" id="MerchantReportResult">
        <result property="id" column="id"/>
        <result property="reportDate" column="report_date"/>
        <result property="accountCode" column="account_code"/>
        <result property="incomeNum" column="income_num"/>
        <result property="incomeSum" column="income_sum"/>
        <result property="outcomeNum" column="outcome_num"/>
        <result property="outcomeSum" column="outcome_sum"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="settleAmt" column="settle_amt"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="merchant" column="account_code" javaType="Merchant" resultMap="MerchantResult"/>
    </resultMap>

    <resultMap type="Merchant" id="MerchantResult">
        <result property="id" column="id"/>
        <result property="merchantCode" column="merchant_code"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="mobile" column="mobile"/>
        <result property="address" column="address"/>
        <result property="remark" column="remark"/>
        <result property="balance" column="balance"/>
        <result property="flag" column="flag"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectMerchantReportVo">
        select mr.id,
               mr.report_date,
               mr.account_code,
               mr.income_num,
               mr.income_sum,
               mr.outcome_num,
               mr.outcome_sum,
               mr.remark,
               mr.status,
               mr.create_time,
               mr.update_time,
               m.merchant_name,
               (ifnull(mr.income_sum,0) - ifnull(mr.outcome_sum,0)) settle_amt
        from bus_merchant_report mr
                 left join bus_merchant m on mr.account_code = m.id

    </sql>

    <select id="selectMerchantReportList" parameterType="MerchantReport" resultMap="MerchantReportResult">
        <include refid="selectMerchantReportVo"/>
        <where>
            <if test="id != null and id != ''">and mr.id = #{id}</if>
            <if test="reportDate != null">and mr.report_date = #{reportDate}</if>
            <if test="accountCode != null and accountCode != ''">and mr.account_code = #{accountCode}</if>
            <!--<if test="incomeNum != null and incomeNum != ''">and income_num = #{incomeNum}</if>
            <if test="incomeSum != null and incomeSum != ''">and income_sum = #{incomeSum}</if>
            <if test="outcomeNum != null and outcomeNum != ''">and outcome_num = #{outcomeNum}</if>
            <if test="outcomeSum != null and outcomeSum != ''">and outcome_sum = #{outcomeSum}</if>-->
            <if test="remark != null and remark != ''">and mr.remark = #{remark}</if>
            <if test="status != null and status != ''">and mr.status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(mr.report_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(mr.report_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectMerchantReportById" parameterType="Long" resultMap="MerchantReportResult">
        <include refid="selectMerchantReportVo"/>
        where mr.id = #{id}
    </select>

    <insert id="insertMerchantReport" parameterType="MerchantReport">
        insert into bus_merchant_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != '' ">id,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="accountCode != null and accountCode != '' ">account_code,</if>
            <if test="incomeNum != null and incomeNum != '' ">income_num,</if>
            <if test="incomeSum != null and incomeSum != '' ">income_sum,</if>
            <if test="outcomeNum != null and outcomeNum != '' ">outcome_num,</if>
            <if test="outcomeSum != null and outcomeSum != '' ">outcome_sum,</if>
            <if test="remark != null and remark != '' ">remark,</if>
            <if test="status != null and status != '' ">status,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="accountCode != null and accountCode != ''">#{accountCode},</if>
            <if test="incomeNum != null and incomeNum != ''">#{incomeNum},</if>
            <if test="incomeSum != null and incomeSum != ''">#{incomeSum},</if>
            <if test="outcomeNum != null and outcomeNum != ''">#{outcomeNum},</if>
            <if test="outcomeSum != null and outcomeSum != ''">#{outcomeSum},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateMerchantReport" parameterType="MerchantReport">
        update bus_merchant_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportDate != null  ">report_date = #{reportDate},</if>
            <if test="accountCode != null  and accountCode != ''  ">account_code = #{accountCode},</if>
            <if test="incomeNum != null  ">income_num = #{incomeNum},</if>
            <if test="incomeSum != null  ">income_sum = #{incomeSum},</if>
            <if test="outcomeNum != null  ">outcome_num = #{outcomeNum},</if>
            <if test="outcomeSum != null  ">outcome_sum = #{outcomeSum},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMerchantReportById" parameterType="Long">
        delete
        from bus_merchant_report
        where id = #{id}
    </delete>

    <delete id="deleteMerchantReportByIds" parameterType="String">
        delete from bus_merchant_report where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOuting" parameterType="String" resultMap="MerchantReportResult">
        select from_acc                             account_code,
               COUNT(from_acc)                      outcome_num,
               SUM(txamt)                           outcome_sum,
               DATE_FORMAT(create_time, '%Y-%m-%d') report_date
        from bus_trade_record
        where from_acc is not null
          and DATE_FORMAT(create_time, '%Y-%m-%d') = #{params}
        GROUP BY from_acc;

    </select>

    <select id="selectInComing" parameterType="String" resultMap="MerchantReportResult">
        select to_acc                               account_code,
               COUNT(to_acc)                        income_num,
               SUM(txamt)                           income_sum,
               DATE_FORMAT(create_time, '%Y-%m-%d') report_date
        from bus_trade_record
        where to_acc is not null
          and DATE_FORMAT(create_time, '%Y-%m-%d') = #{params}
        GROUP BY to_acc;

    </select>

</mapper>