<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.project.business.operReport.mapper.OperReportMapper">
    
    <resultMap type="OperReport" id="OperReportResult">
        <result property="id"    column="id"    />
        <result property="reportDate"    column="report_date"    />
        <result property="tradeCode"    column="trade_code"    />
        <result property="tradeNum"    column="trade_num"    />
        <result property="tradeSum"    column="trade_sum"    />
    </resultMap>
	
	<sql id="selectOperReportVo">
        select id, report_date, trade_code, trade_num, trade_sum from bus_oper_report
    </sql>
	
    <select id="selectOperReportList" parameterType="OperReport" resultMap="OperReportResult">
        <include refid="selectOperReportVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="reportDate != null and reportDate != ''"> and report_date = #{reportDate}</if>
             <if test="tradeCode != null and tradeCode != ''"> and trade_code = #{tradeCode}</if>
             <if test="tradeNum != null and tradeNum != ''"> and trade_num = #{tradeNum}</if>
             <if test="tradeSum != null and tradeSum != ''"> and trade_sum = #{tradeSum}</if>
         </where>
    </select>
    
    <select id="selectOperReportById" parameterType="Long" resultMap="OperReportResult">
        <include refid="selectOperReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOperReport" parameterType="OperReport">
        insert into bus_oper_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="reportDate != null and reportDate != '' ">report_date,</if>
			<if test="tradeCode != null and tradeCode != '' ">trade_code,</if>
			<if test="tradeNum != null and tradeNum != '' ">trade_num,</if>
			<if test="tradeSum != null and tradeSum != '' ">trade_sum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="reportDate != null and reportDate != ''">#{reportDate},</if>
			<if test="tradeCode != null and tradeCode != ''">#{tradeCode},</if>
			<if test="tradeNum != null and tradeNum != ''">#{tradeNum},</if>
			<if test="tradeSum != null and tradeSum != ''">#{tradeSum},</if>
         </trim>
    </insert>
	 
    <update id="updateOperReport" parameterType="OperReport">
        update bus_oper_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportDate != null  and reportDate != ''  ">report_date = #{reportDate},</if>
            <if test="tradeCode != null  and tradeCode != ''  ">trade_code = #{tradeCode},</if>
            <if test="tradeNum != null  ">trade_num = #{tradeNum},</if>
            <if test="tradeSum != null  ">trade_sum = #{tradeSum},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteOperReportById" parameterType="Long">
        delete from bus_oper_report where id = #{id}
    </delete>
	
    <delete id="deleteOperReportByIds" parameterType="String">
        delete from bus_oper_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>