<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.project.business.order.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="moneySum"    column="money_sum"    />
        <result property="buyUser"    column="buy_user"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="status"    column="status"    />
        <result property="operUser"    column="oper_user"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectOrderVo">
        select id, order_code, money_sum, buy_user, order_status, status, oper_user, finish_time, create_time, update_time from bus_order
    </sql>
	
    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="orderCode != null and orderCode != ''"> and order_code = #{orderCode}</if>
             <if test="moneySum != null and moneySum != ''"> and money_sum = #{moneySum}</if>
             <if test="buyUser != null and buyUser != ''"> and buy_user = #{buyUser}</if>
             <if test="orderStatus != null and orderStatus != ''"> and order_status = #{orderStatus}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="operUser != null and operUser != ''"> and oper_user = #{operUser}</if>
             <if test="finishTime != null and finishTime != ''"> and finish_time = #{finishTime}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrder" parameterType="Order">
        insert into bus_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="orderCode != null and orderCode != '' ">order_code,</if>
			<if test="moneySum != null and moneySum != '' ">money_sum,</if>
			<if test="buyUser != null and buyUser != '' ">buy_user,</if>
			<if test="orderStatus != null and orderStatus != '' ">order_status,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="operUser != null and operUser != '' ">oper_user,</if>
			<if test="finishTime != null and finishTime != '' ">finish_time,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="orderCode != null and orderCode != ''">#{orderCode},</if>
			<if test="moneySum != null and moneySum != ''">#{moneySum},</if>
			<if test="buyUser != null and buyUser != ''">#{buyUser},</if>
			<if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="operUser != null and operUser != ''">#{operUser},</if>
			<if test="finishTime != null and finishTime != ''">#{finishTime},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateOrder" parameterType="Order">
        update bus_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null  and orderCode != ''  ">order_code = #{orderCode},</if>
            <if test="moneySum != null  ">money_sum = #{moneySum},</if>
            <if test="buyUser != null  ">buy_user = #{buyUser},</if>
            <if test="orderStatus != null  and orderStatus != ''  ">order_status = #{orderStatus},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="operUser != null  ">oper_user = #{operUser},</if>
            <if test="finishTime != null  ">finish_time = #{finishTime},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteOrderById" parameterType="Long">
        delete from bus_order where id = #{id}
    </delete>
	
    <delete id="deleteOrderByIds" parameterType="String">
        delete from bus_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>