<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.project.business.order.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="money"    column="money"    />
        <result property="personId"    column="person_id"    />
        <result property="personCode"    column="person_code"    />
        <result property="personName"    column="person_name"    />
        <result property="flag"    column="flag"    />
        <result property="finishUser"    column="finish_user"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

	<sql id="selectOrderVo">
        select id, order_code, money, person_id, person_code, person_name, flag, finish_user, finish_time, status ,remark,create_time,update_time from bus_order
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="id != null and id != ''"> and id = #{id}</if>
            <if test="orderCode != null and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="money != null and money != ''"> and money = #{money}</if>
            <if test="personId != null and personId != ''"> and person_id = #{personId}</if>
            <if test="personCode != null and personCode != ''"> and person_code = #{personCode}</if>
            <if test="personName != null and personName != ''"> and person_name like concat('%', #{personName}, '%') </if>
            <if test="flag != null and flag != ''"> and flag = #{flag}</if>
            <if test="finishUser != null and finishUser != ''"> and finish_user = #{finishUser}</if>
            <if test="finishTime != null and finishTime != ''"> and finish_time = #{finishTime}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
            <if test="params != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format( create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format( create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrder" parameterType="Order">
        insert into bus_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="orderCode != null and orderCode != '' ">order_code,</if>
			<if test="money != null and money != '' ">money,</if>
			<if test="personId != null and personId != '' ">person_id,</if>
			<if test="personCode != null and personCode != '' ">person_code,</if>
			<if test="personName != null and personName != '' ">person_name,</if>
			<if test="flag != null and flag != '' ">flag,</if>
			<if test="finishUser != null and finishUser != '' ">finish_user,</if>
			<if test="finishTime != null and finishTime != '' ">finish_time,</if>
			<if test="status != null and status != '' ">status,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="orderCode != null and orderCode != ''">#{orderCode},</if>
			<if test="money != null and money != ''">#{money},</if>
			<if test="personId != null and personId != ''">#{personId},</if>
			<if test="personCode != null and personCode != ''">#{personCode},</if>
			<if test="personName != null and personName != ''">#{personName},</if>
			<if test="flag != null and flag != ''">#{flag},</if>
			<if test="finishUser != null and finishUser != ''">#{finishUser},</if>
			<if test="finishTime != null and finishTime != ''">#{finishTime},</if>
			<if test="status != null and status != ''">#{status},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update bus_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null  and orderCode != ''  ">order_code = #{orderCode},</if>
            <if test="money != null  ">money = #{money},</if>
            <if test="personId != null  ">person_id = #{personId},</if>
            <if test="personCode != null  and personCode != ''  ">person_code = #{personCode},</if>
            <if test="personName != null  and personName != ''  ">person_name = #{personName},</if>
            <if test="flag != null  and flag != ''  ">flag = #{flag},</if>
            <if test="finishUser != null  and finishUser != ''  ">finish_user = #{finishUser},</if>
            <if test="finishTime != null  ">finish_time = #{finishTime},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteOrderById" parameterType="Long">
        delete from bus_order where id = #{id}
    </delete>
	
    <delete id="deleteOrderByIds" parameterType="String">
        delete from bus_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="updateMoneyById" parameterType="Long">
        update bus_order set money = (select IFNULL(sum(money),"0")   from bus_order_detail where order_id = #{id} and flag = '0' and status = '0' )
        where id = #{id}
    </delete>

</mapper>